# EditorConfig is awesome: http://EditorConfig.org
# top-most EditorConfig file
root = true

[*.js]
insert_final_newline = true
charset = utf-8
# rules enforced by linter
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# not standard, enforced by linter
quote_type = simple
curly_bracket_next_line = true
spaces_around_operators = true
spaces_around_brackets = none
indent_brace_style = K&R
